.logo
{
    margin-left:40px ;
 width:250px;
}
 .links{
    display: flex;
    flex-direction: row;
    justify-content: end;
 }
 .Heading{
   margin-top:4rem;
    color:#000080;
     font-size: 50px; 
     font-family: Times New roman; 
     font-weight:bold;
     margin-right: 11rem;
 }
 .subHeading{
    font-family: Times New roman;
     color:#c20303; 
     font-size: 50px;
      margin-top:-30px; 
      margin-left: 80px;
       letter-spacing: 5px;
 }

 /* side navbar */
 
 #mySidenav a {
   position: fixed;
   /* Position them relative to the browser window */
   left: -80px;
   /* Position them outside of the screen */
   transition: 0.3s;
   /* Add transition on hover */
   padding: 15px;
   /* 15px padding */
   width: 135px;
   height: 55px;
   /* Set a specific width */
   text-decoration: none;
   /* Remove underline */
   font-size: 20px;
   /* Increase font size */
   color: white;
   /* White text color */
   border-radius: 0 25px 25px 0;
   z-index: 100;
   padding: 10px;
   /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
   left: 0;
   /* On mouse-over, make the elements appear as they should */
   width: 40%;
   height: 90%;
   background-image: url('assets/images/certificate.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   color: #638eff00;
}
#about {
   top: 20px;
   background-color: #BD0F0F;
}

#about img {
   margin-left: 10px;
}

/* sidenavbar end */
/* image slider */



/* about section start */